@model ToDo.Areas.Zadania.Models.Task
<table class="table">
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(n => Model.Action)</th>
            <td>@Html.ValueFor(n => Model.Action)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(n => Model.Topic)</th>
            <td>@Html.ValueFor(n => Model.Topic)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(n => Model.Start)</th>
            <td>@Html.ValueFor(n => Model.Start)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(n => Model.End)</th>
            <td>@Html.ValueFor(n => Model.End)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(n => Model.Status)</th>
            <td>@Html.ValueFor(n => Model.Status)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(n => Model.Priority)</th>
            <td>@Html.ValueFor(n => Model.Priority)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(n => Model.Progress)</th>
            <td>@Html.ValueFor(n => Model.Progress)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(n => Model.Description)</th>
            <td>@Html.ValueFor(n => Model.Description)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(n => Model.File)</th>
            <td>@Html.ValueFor(n => Model.File)</td>
        </tr>
    </tbody>
</table>